@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Medium.ttf');
    font: {
        weight: 400;
        style: normal;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Bold.ttf');
    font: {
        weight: 700;
        style: normal;
    }
}